@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: "Anton", sans-serif;
  }

  p {
    font-family: "Archivo Narrow", sans-serif;
  }
}

@layer components {
  .hero_img {
    background-image: url("../img/glitch.jpg");
    background-size: cover;
    height: 90vh;
    background-position: center center;
  }

  .spotlight_1 {
    position: relative;
    padding: 6rem;
  }
  .spotlight_2 {
    position: relative;
  }

  /* .spotlight_1:hover::before {
    opacity: 1;
  } */

  .light {
    position: absolute;
    inset: 0;
    background: #ffffff;
    z-index: -1;
    border-radius: 50%;
    filter: blur(70px);
    transition: 0.3s;
    opacity: 0;
  }
  .light_2 {
    position: absolute;
    inset: 0;
    background: #ffffff;
    z-index: -1;
    border-radius: 50%;
    filter: blur(70px);
    transition: 0.3s;
    opacity: 0;
  }

  .amarminoen_img {
    background-image: url("../img/lake.webp");
    background-size: cover;
    height: 100vh;
    background-position: center center;
  }

  .img_text_overlapi_skillevej {
    background-image: url("../img/skillevej.webp");

    background-size: cover;
    height: 100vh;
    background-position: center center;
  }

  .img_text_overlap_newbeginning {
    background-image: url("../img/bil-smidt-ud.webp");
    background-size: cover;
    height: 100vh;
    background-position: center center;
  }
}
